/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/



.navperso{
    
    background-color: white;
    
}

.barrainicial {
    
    background-color: #EFEFEF;
    color : #54d8e3 ;
    height: 70px ;
    
    
}

.opcfoot {
    
   
    color : #FFF ;
    
    
}

.opcfoot:hover {
    
    color: #0287bf ;
    
}


.opcbarra {
    
    color :#000 ;
    
    
}

.opcbarra:hover {
    
    color: #363232 ;
    
}

.footerperso {
    
    height: 200px ;
    background-color: #666666 ;
    padding-top: 20px;
    height: 220px ;
}

.menuprodutos {
    
    background-color: #54d8e3 ;
    display: none ;
    height: 100px ;
    
}


.imgprod {
    
    height: 100% ;
    width: 90% ;
    
}

.img-barra {
    
    height: 30px ;
    
    
}

.barrasepara {
    
    background: linear-gradient(90deg ,#0287bf 10% , #00b5ff 90% );
    height: 30px;
    width: 100% ;

}

.botao-comprar{
    
    width: 75%;
    border-color: #0287bf ;
    margin-bottom: 10px;
}

.opcfootti {
    
    color: #FFF;
 
    
}

.card {
    
    margin-top: 10px ;
    
}

.img-bg {
    
    position: relative ;
    height: 100%;
    width:  100% ;
    
}

.tela1{

    border: solid 5px;
    background-color: #00b5ff ;
    color: #FFF ;
    height: 250px ;
    
}

.tela1:hover {
 
 transform: scale(1.03);
    
}


.tela2{
    
      border: solid 5px;
    background-color: #8A8A8A;
    color: #FFF ;
    height: 250px ;
    
    
}


.tela2:hover {
    
     transform: scale(1.03);
    
}


.tela3{
    
      border: solid 5px;
    background-color: #00eaff;
    color: #FFF ;
    height: 250px ;
    
    
}


.tela3:hover {
    
     transform: scale(1.03);
    
}


.telaimg1{
    
    border : 5px solid;
    background-color: #00eaff;
    color: #FFF ;
    padding: 0px ;
    background-image: url(/img/dic1.jpg);
    background-repeat: no-repeat ;
    background-size: 100% ;
    background-size: cover ;
    
    
}


.telaimg1:hover{
    
      transform: scale(1.001);
      border: none ;

      padding: 0px ;
}


#tel1{
    
    padding: 20px;
    visibility: hidden ;
    
}

.telaimg1:hover #tel1{
    
      visibility: visible ;
      color: #2432f0 ;

}
