/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/06/2019, 11:11:25
    Author     : ricardo
*/


.telaadmin {
    
    height: 100px ;
    color: #FFF ;
    background-color: #54d8e3 ;
    
}

.cxopcao {
    
    color: #000 ;
    text-align: center ;
    border-color: #1c8499 ;
    background-color: #FFF ;
    
    
}
